header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    columns: 4;
    font-size: 40px;
    /* had trouble getting this part to be responsive as desired */
    
  }