.footer-content {
    background: #42A5F5;
    color: white;
    padding: 20px;
    min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-row-start: 2;
        grid-row-end: 3
}

footer {
    min-height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        padding: 50px;
}

html {
    height: 100%;
}

